<!DOCTYPE html>
<html>
  <head>
    <title>Tech-Blog-App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{{body}}}
    <script src="/js/main.js"></script>
  </body>
</html>
```
